<div class="banner container">
  <div class="banner__content">
    <ul class="banner__list">
      <li class="banner__item">
        <h4 class="banner__category">Best Deals</h4>
        <h2 class="banner__title">Sale of the Month</h2>
        <div class="banner__timer timer">
          <div class="timer__field">
            <span class="timer__value" data-days>00</span>
            <span class="timer__label">Days</span>
          </div>
          <div class="timer__field">
            <span class="timer__value" data-hours>00</span>
            <span class="timer__label">Hours</span>
          </div>
          <div class="timer__field">
            <span class="timer__value" data-minutes>00</span>
            <span class="timer__label">Minutes</span>
          </div>
          <div class="timer__field">
            <span class="timer__value" data-seconds>00</span>
            <span class="timer__label">Seconds</span>
          </div>
        </div>
        <button class="banner__button" type="button">
          Shop Now
          <svg class="banner__icon" width="15" height="12">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="banner__item">
        <h4 class="banner__category">85% Fat Free</h4>
        <h2 class="banner__title">Low-Fat Meat</h2>
        <div class="banner__description">
          <p class="banner__text">
            Started at<span class="banner__price">$79.99</span>
          </p>
        </div>
        <button class="banner__button" type="button">
          Shop Now
          <svg class="banner__icon" width="15" height="12">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="banner__item">
        <h4 class="banner__category">Summer Sale</h4>
        <h2 class="banner__title">100% Fresh Fruit</h2>
        <div class="banner__description">
          <p class="banner__text">
            Up to <span class="banner__discount">64% OFF</span>
          </p>
        </div>
        <button class="banner__button" type="button">
          Shop Now
          <svg class="banner__icon" width="15" height="12">
            <use href=""></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
