<header class="header">
  <div class="container">
    <address>
      <a
        href="https://www.google.com/maps/search/Store+Location:+Lincoln-+344,+Illinois,+Chicago,+USA/@41.9392426,-87.7548245,12z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI2MDQwNi4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
      >
        map<svg class="location" width="15" height="18">
          <use href=""></use>
        </svg>
        Store Location: Lincoln- 344, Illinois, Chicago, USA</a
      >
    </address>
    <ul>
      <li>
        <a href=""
          >Eng v<svg class="" width="7" height="3.5">
            <use href=""></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          >USD v
          <svg class="" width="7" height="3.5">
            <use href=""></use></svg
        ></a>
      </li>
    </ul>
    <a href="./index.html" class="logo"
      >logo<svg class="logo" width="32" height="32">
        <use href=""></use>
      </svg>
      Ecobazar
    </a>
    <form action="">
      <!-- label + svg search -->
      <input type="text" placeholder="Search" />
      <button type="submit">Search</button>
    </form>
    <address>
      <a href="tel:2195550114">
        call
        <svg class="call" width="40" height="40">
          <use href=""></use></svg
        ><span>Customer Services</span> (219) 555-0114</a
      >
    </address>
    <button class="header-burger-btn" type="button" aria-label="Open menu">
      burger-menu
      <svg class="header-burger" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
    <a href=""
      >All Categories v
      <svg class="" width="7" height="3.5">
        <use href=""></use></svg
    ></a>
    <nav>
      <ul>
        <li>
          <a href="./index.html"
            >Home v<svg class="" width="7" height="3.5">
              <use href=""></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            >Shop v<svg class="" width="7" height="3.5">
              <use href=""></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            >Pages v<svg class="" width="7" height="3.5">
              <use href=""></use></svg
          ></a>
        </li>
        <li>
          <a href=""
            >Blog v<svg class="" width="7" height="3.5">
              <use href=""></use></svg
          ></a>
        </li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
    <ul>
      <li>
        love
        <svg class="" width="32" height="32">
          <use href=""></use>
        </svg>
      </li>
      <li>
        cart
        <svg class="" width="32" height="32">
          <use href=""></use>
        </svg>
      </li>
      <li>
        profile
        <svg class="" width="32" height="32">
          <use href=""></use>
        </svg>
      </li>
    </ul>
  </div>
</header>
