<section class="team">
  <div class="container team__container">
    <p class="team__eyebrow">Team</p>
    <h2 class="team__title">Our Professional Members</h2>

    <ul class="team__list">
      <li class="team-card">
        <div class="team-card__photo team-card__photo--jenny">
          <ul class="team-card__socials" aria-label="Jenny Wilson social links">
            <li>
              <a class="team-card__social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-card__body">
          <h3 class="team-card__name">Jenny Wilson</h3>
          <p class="team-card__position">Ceo &amp; Founder</p>
        </div>
      </li>

      <li class="team-card">
        <div class="team-card__photo team-card__photo--jane">
          <ul class="team-card__socials" aria-label="Jane Cooper social links">
            <li>
              <a class="team-card__social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-card__body">
          <h3 class="team-card__name">Jane Cooper</h3>
          <p class="team-card__position">Worker</p>
        </div>
      </li>

      <li class="team-card">
        <div class="team-card__photo team-card__photo--cody">
          <ul class="team-card__socials" aria-label="Cody Fisher social links">
            <li>
              <a class="team-card__social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-card__body">
          <h3 class="team-card__name">Cody Fisher</h3>
          <p class="team-card__position">Security Guard</p>
        </div>
      </li>

      <li class="team-card">
        <div class="team-card__photo team-card__photo--robert">
          <ul class="team-card__socials" aria-label="Robert Fox social links">
            <li>
              <a class="team-card__social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-card__social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <svg class="team-card__social-icon" width="18" height="18">
                  <use href="./img/svg-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-card__body">
          <h3 class="team-card__name">Robert Fox</h3>
          <p class="team-card__position">Senior Farmer Manager</p>
        </div>
      </li>
    </ul>
  </div>
</section>
